<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Guardar">
    <form role="form" ng-submit="guardar()" novalidate>
      <div class="form-group">
        <label for="id_tipo">Tipo caracteristica</label>
        <select  class="form-control" ng-options="item.id as item.descripcion for item in items" ng-model="fDatos.id_tipo"></select>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" ng-model="fDatos.nombre" name="nombre" id="nombre" class="form-control" required />
      </div>
      <div class="form-group">
        <input type="submit" id="enviar" class="btn btn-danger" value="Guardar"  />
      </div>
    </form>
  </uib-tab>
  <uib-tab index="1" heading="SJ">
    CON JS
  </uib-tab>
</uib-tabset>