<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Guardar">
    <form role="form" ng-submit="guardar()" novalidate enctype="multipart/form-data">
      <input type="hidden" ng-model="fDatos.tabla" value="carro" />
      <div class="form-group">
        <label for="foto">Foto:</label>
        <input type="file" ng-model="fDatos.foto" name="foto" id="foto" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="marca">Marca:</label>
        <input type="text" ng-model="fDatos.marca" name="marca" id="marca" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="modelo">Modelo:</label>
        <input type="text" ng-model="fDatos.modelo" name="modelo" id="modelo" class="form-control" required />
      </div>
      <div class="form-group">
        <input type="submit" id="enviar" class="btn btn-danger" value="Guardar"  />
      </div>
    </form>
  </uib-tab>
  <uib-tab index="1" heading="SJ">
    CON JS
  </uib-tab>
</uib-tabset>