<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Guardar">
        <form role="form" ng-submit="guardar()" novalidate enctype="multipart/form-data">
            <div class="form-group">
                <label for="foto">Foto:</label>
                <!--<input type="file" ng-model="fDatos.foto" name="foto" id="foto" class="form-control" required />-->
                <fileinput ng-model='fDatos.foto' callback='verAdjuntoArchivo=true' action='uploadFile.php' size = '4' name ='archivo'
                           type="file" accept=".jpg,.png"> </fileinput>
            </div>
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" ng-model="fDatos.marca" name="marca" id="marca" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="modelo">Modelo:</label>
                <input type="text" ng-model="fDatos.modelo" name="modelo" id="modelo" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" id="enviar" class="btn btn-danger" value="Guardar"  />
            </div>
        </form>
    </uib-tab>
    <uib-tab index="1" heading="Lista de Carros">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="auto in autos">
                    <td>
                        <span editable-text="auto.marca" e-name="marca" e-form="rowform" e-required>
                            {{ auto.marca || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="auto.modelo" e-name="modelo" e-form="rowform" e-required>
                            {{auto.modelo}}
                        </span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveAuto($data, auto.id)" ng-show="rowform.$visible" 
                              class="form-buttons form-inline" shown="inserted == auto">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                Guardar
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                Cancelar
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-danger" ng-click="removeAuto($index, auto.id)">
                                <span class="glyphicon glyphicon-fire"></span>
                            </button>
                        </div>  
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-default" ng-click="addAuto()">Add row</button>
    </uib-tab>
</uib-tabset>